.jumbotron-image {
    background-image: url("../images/carousel/carousel-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
