<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">
    <img th:src="@{/images/criollo-food-logo.png}" class="mx-auto d-block" width="300" height="300" alt="Logo"/>
    <form th:action="@{/login}" method="POST" class="form-signin" th:autocomplete="off">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-right-0"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" id="user_name" name="username" th:placeholder="Usuario"
                   class="form-control border-left-0"/>
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-right-0"><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" th:placeholder="Contraseña"
                   id="password" name="password" class="form-control border-left-0 mb-0"/>
        </div>
        <br/>

        <div class="text-center" th:if="${param.error}">
            <label class="validation-message">Usuario o Contraseña invalido, intentalo nuevamente</label>
        </div>
        <button class="btn btn-primary btn-block" name="Submit" value="Login" type="Submit">INICIAR SESI&OacuteN</button>
    </form>
</div>

<div th:insert="fragments/common-scripts :: common-scripts"></div>
</body>
</html>
