<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar ('pedido')"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="alert alert-light my-auto" role="alert" th:if="${atencion == null}">
                <h4>LO SENTIMOS, NO TIENES UNA MESA ASIGNADA. NO PUEDES ORDENAR AÚN</h4>
            </div>
        </div>
        <div class="col-lg-4 border" th:if="${atencion}">
            <div class="container">
                <h4 class="display-4">Tienes asignada la mesa N&deg; <span th:text="${atencion.numeroMesa}"></span></h4>
            </div>
        </div>
        <div class="col-lg-8 d-flex justify-content-center" th:if="${atencion} and ${itemsPedido.size() == 0}">
            <div class="alert alert-light my-auto" role="alert" th:if="${pedido == null}">
                <h4>NO HAS PEDIDO AÚN</h4>
            </div>
            <div class="alert alert-success my-auto" role="alert" th:if="${pedido != null}">
                <h4 class="alert-heading">Tu pedido ha sido ingresado con éxito!</h4>
                <p>Nuestro equipo en la cocina pronto comenzará la preparación de lo que ordenaste.</p>
                <hr>
                <p class="mb-0">En breve estaremos informando sobre el estado de tu pedido.</p>
            </div>
        </div>
        <div class="col-lg-8" th:if="${atencion} and ${itemsPedido.size() > 0}">
            <table class="table table-hover mb-4">
                <thead>
                <tr>
                    <th scope="col" class="text-center">PEDIDO</th>
                    <th scope="col" class="text-center">CANTIDAD</th>
                    <th scope="col" class="text-center">PRECIO</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemsPedido}">
                    <th scope="row" class="align-middle text-left" th:text="${item.value.nombre}"></th>
                    <td class="align-middle text-center" th:text="${item.value.cantidad}"></td>
                    <td class="align-middle text-right" th:text="${#strings.replace(#strings.replace(#numbers.formatCurrency(item.value.precio * item.value.cantidad), '.00', ''), ',', '.')}"></td>
                    <td class="text-right">
                        <form action="#" th:action="@{/pedido/quitar}" method="POST">
                            <div class="form-row float-right">
                                <div class="form-group mb-1">
                                    <div class="input-group">
                                        <input type="hidden" class="form-control" th:value="${item.value.id}" th:name="receta-id"/>
                                    </div>
                                </div>
                                <div class="input-group col-10">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                        <input class="quantity" min="1" th:max="${item.value.cantidad}" name="quantity" value="1" type="number" th:name="receta-cantidad" readonly>
                                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                        data-placement="right" title="Quitar"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <form action="#" th:action="@{/pedido}" method="POST">
                <div class="form-group mb-1">
                    <div class="input-group">
                        <input type="hidden" class="form-control" th:value="${atencion.id}" th:name="atencion-id"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">CONFIRMAR PEDIDO</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/common-scripts :: common-scripts"></div>
</body>
</html>
