<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar ('reservaciones')"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 border" th:insert="fragments/form-reserva :: form-reserva (reservacion)"></div>
        <div class="col-lg-8 d-flex justify-content-center">
            <div class="alert alert-light my-auto" role="alert" th:if="${reservaciones.size() == 0}">
                <h4> NO TIENES RESERVACIONES</h4>
            </div>
            <table class="table table-hover" th:if="${reservaciones.size() > 0}">
                <thead>
                <tr>
                    <th scope="col" class="text-center">C&Oacute;DIGO</th>
                    <th scope="col" class="text-center">FECHA</th>
                    <th scope="col" class="text-center">ASISTENTES</th>
                    <th scope="col" class="text-center">ESTADO</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reserv : ${reservaciones}">
                    <th scope="row" class="align-middle text-center" th:text="${reserv.codigo}"></th>
                    <td class="align-middle text-center" th:text="${#dates.format(reserv.fecha, 'dd/MM/yyyy')}"></td>
                    <td class="align-middle text-center" th:text="${reserv.asistentes}"></td>
                    <td class="align-middle text-center" th:text="${reserv.estado}"></td>
                    <td class="text-right">
                        <a href="#" role="button" class="btn btn-outline-danger btn-sm"
                           th:href="@{/reservaciones/cancelar/{id}(id=${reserv.id})}"
                           data-toggle="tooltip" data-placement="right" title="Cancelar"><i class="fa fa-calendar-times-o"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:insert="fragments/common-scripts :: common-scripts"></div>
</body>
</html>
